<div class="container">
    <div class="row">
        <div class="col-md-10">
        <div class="form-group">
            <label for="a" class="text-info">Search by productname</label>
            <input type="text" id="b" class="form-control" name="search" placeholder="search...." [(ngModel)]="searchterm">
        </div>
        </div>
        <div class="col-md-2">
            <button class="btn btn-success" id="a" style="margin-left:20px" (click)="totalorders(obj)">Total Orders</button>
        </div>
    </div>

        <div class="row">
        <a routerLink="/productlist" class="btn btn-info d-block">+NewProduct</a>
        <!-- <a routerLink="/productlist">productlist</a> -->
        <table class="table bordered table-hovered">
            <thead>
                <th>product Name</th>
                <th>Category</th>
                <th>Total Quantity</th>
                <th>Price per 500gm</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tr *ngFor="let i of product|search:searchterm">
                <td>{{i.name}}</td>
                <td>{{i.category}}</td>
                <td>{{i.quantity}}</td>
                <td>{{i.price}}</td>
                <td><button class="btn btn-info" (click)="update(i)">Edit</button></td>
                <td><button class="btn btn-danger" (click)="deletedata(i)">Delete</button></td>
            </tr>
        </table>
    </div>
</div>

