<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <table border=1>
                <thead>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Address</th>
                </thead>
                <td>
                    <tr></tr>
                </td>
            </table>

        </div>

    </div>

</div>
