<div class="container-fluid">
<div class="row">
    <div class="col-lg-12">
        <table class="table table-hovered">
            <caption class="text-center">Items in Your Basket</caption>
            <thead>
                <th></th>
                <th>product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>cartprice</th>
            </thead>
            
                <tr *ngFor="let v of homeproducts">
                    <td><img [src]="v.url" alt=""></td>
                    <td>{{v.name}}
                        500g
                    </td>
                    <td><button class="btn btn-dark" (click)="decrease(v)">-</button>
                        {{v.userquantity}}
                    <button class="btn btn-dark"(click)="increase(v)">+</button></td>
                    <td>{{v.price|currency:'INR'}}</td>
                    <td>{{v.cartprice|currency:'INR'}}</td>
                </tr>
        </table>
        <h4 class="text-right text-danger">Totalprice:{{totalprice}}</h4>
        <!-- <button class="btn btn-info mr-3" (click)="checkout()">Proceed to checkout</button> -->
        <button class="btn btn-danger"(click)="deletecart()">Clearcart</button>
    </div>

</div>
</div>