<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 jumbotron">
            <form #ref="ngForm" (ngSubmit)="login(ref.value)">
                <!-- username -->
                <div class="form-group">
                <label for="a">Enter username</label>
                <input type="text" id="a" placeholder="Enter username" class="form-control" name="username" ngModel required #ref1="ngModel">
                </div>
                <!-- validation for username -->
                <div *ngIf="ref1.invalid&&ref1.touched">
                    username required
                </div>
                <!-- password -->
                <div class="form-group">
                    <label for="b">Enter password</label>
                    <input type="password" placeholder="Enter Password" id="b" class="form-control" name="password" ngModel required minlength="8" #ref2="ngModel">
                </div>
                <!-- validation for password -->
                <div *ngIf="ref2.invalid&&(ref2.touched||ref2.dirty)">
                    <div *ngIf="ref2.errors?.required">
                        password is required
                    </div>
                    <div *ngIf="ref2.errors?.minlength">
                        password should be atleast 8 characters
                    </div>
                </div>
                <!-- remember me -->
                <div>
                    <input type="checkbox" id="c" name="rememberme" ngModel>
                    <label for="c">Rememberme</label>
                </div>
                <!-- button -->
                <div>
                    <button type="submit" class="btn btn-success mx-auto d-block">Login</button>
                </div>
            </form>
            <div>
                <p>don't have an account?
                <a routerLink="/register">create account</a></p>
            </div>
            <!-- <div>
                <button (click)="gotoRegister(data)" class="btn btn-danger float-right">create account</button>
            </div> -->
        </div>
        
        <div class="col-md-3"></div>

    </div>

</div>
