
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> 
</head>
<body>
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div>
            <table style="width:100%" class="table-bordered">
                <thead>
                    <th></th>
                    <th>product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>cartprice</th>
                </thead>
                <caption class="text-center">Items in Your Basket</caption>
                <tr *ngFor="let v of cartdata">
                    <td><img [src]="v.url" alt=""></td>
                    <td>{{v.name}}
                        500g
                    </td>
                    <td><button class="btn btn-dark" (click)="decrease(v)">-</button>
                        {{v.userquantity}}
                    <button class="btn btn-dark"(click)="increase(v)">+</button></td>
                    <td>{{v.price|currency:'INR'}}</td>
                    <td>{{v.cartprice|currency:'INR'}}</td>
                </tr>
                    </table>
        
            <h4 class="text-right text-danger">Totalprice:{{totalprice}}</h4>
            <button class="btn btn-info mr-3" (click)="checkout()">Proceed to checkout</button>
            <button class="btn btn-danger"(click)="deletecart()">Clearcart</button>
        </div>
        </div>
    </div>
</div>
        <div class="col-md-2"></div>
         
        </body>
    
</html>




