<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-md bg-dark">
                <a class="navbar-brand" href="#">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRKwZjeShlwYO1OB0Nl0Y3oI6GYgXP-HpfNimAT-LDKtNTeNaaK&usqp=CAU" width="100px" height="70px" alt="fruits">
                  </a>
                <button class="navbar-toggler" type="button" data-target="#collapsibleNavbar" data-toggle="collapse">
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars"></i>
                </span>
                </button>
                <div class="collapse navbar-collapse" id="#collapsibleNavbar">
                    <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="home"><i class="material-icons" style="font-size:35px;">home</i></a>
                    </li>
                    <li class="nav-item" *ngIf="!ls.userstatus">
                        <a class="nav-link text-white" routerLink="login" style="font-size:24px">Login | Signup</a>
                    </li>
                    <li class="nav-item" *ngIf="ls.userstatus">
                        <a class="nav-link text-white" routerLink="login" style="font-size:24px"><i class="fa fa-sign-out fa-lg"></i>Logout</a>
                   </li>
                  
               </ul>
                </div>
            </nav>
        </div>
    </div>

</div>
<router-outlet></router-outlet>