<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 jumbotron">
            <form #ref="ngForm" (ngSubmit)="forgot(ref.value)">
                <div>
                <!-- <input type="radio" class="form-check-input" name="search" value="email" ngModel> -->
                <label for="">Enter your email</label>
                <input type="email" class="form-control" name="email" value="email" ngModel>
                </div>
                <div>
                    <!-- <input type="radio" class="form-check-input" name="search" value="phonenumber" ngModel> -->
                    <label for="">Enter phonenumber</label>
                    <input type="" class="form-control" name="phonenumber" value="phonenumber" ngModel>
                </div>
                <button type="submit" class="btn btn-warning mx-auto d-block">search</button>
            </form>
        </div>
        <div class="col-md-3"></div>

    </div>

</div>