<div class="container">
    <div class="row">
        <div class="col-md-6 jumbotron">
            
             <form #ref="ngForm" (ngSubmit)="sendData(ref.value);ngOnInit()">
                        <div>
                            <label for="a">Product ID</label>
                            <input type="number" id="a" name="id" class="form-control" ngModel autocomplete="off" [(ngModel)]=obj.id>
                        </div>
                        <div>
                            <label for="b">Product Name</label>
                            <input type="text"  id="b" name="name" class="form-control" ngModel [(ngModel)]=obj.name>
                        </div>
                        <div>
                            <label for="b">Quantity</label>
                            <input type="number"  id="b" name="quantity" class="form-control" ngModel [(ngModel)]=obj.quantity>
                        </div>
                        <div>
                            <label for="c">price</label>
                            <input type="number" id="c" name="price" class="form-control" ngModel [(ngModel)]=obj.price>
                        </div>
                        <div>
                            <label for="d">Category</label>
                            <select id="d" name="category" class="form-control" ngModel [(ngModel)]=obj.category>
                                <option value="vegetables">Vegetables</option>
                                <option value="leafy veggies">Leafy Veggies</option>
                                <option value="fruits">Fruits</option>
                            </select>
                        </div>
                        <div>
                            <label for="e">image URL</label>
                            <input type="url" id="e" name="url" class="form-control" ngModel [(ngModel)]=obj.url>
                        </div>
                        <button type="submit" class="btn btn-outline-danger">Save</button>
                        <!-- <button class="btn btn-light float-right" (click)="close()">close</button> -->
                    </form>
                </div>
                
   
<div class="col-md-6">
    <div class="card">
        <div class="card-body">
            <img [src]="obj.url" alt="vegetables image">
            <table class="table table-borderless">
                <tr>
                    <th>Product Name :</th>
                    <td>{{obj.name}}</td>
                </tr>
                <tr>
                    <th>Quantity :</th>
                    <td>{{obj.quantity}}kg.</td>
                </tr>

                <tr>
                    <th>Price :</th>
                    <td>{{obj.price|currency:'INR'}}</td>
                </tr>
            </table>

        </div>

    </div>

</div>
