<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <th>Customer</th>
                    <th>Date</th>
                    <th>orders</th>
                </thead>
                <tr *ngFor="let i of totalorders">
                    <td>{{i.username}}</td>
                    <td>{{i.date}}</td>
                    <td><button class="btn btn-dark" (click)="view(i)">View</button></td>
                </tr>
            </table>

        </div>

    </div>

</div>
