<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table>
                <thead>
                    <th>Username</th>
                    <th>Date</th>
                    <th>Address</th>
                    <th>Orders</th>
                </thead>
                <tr>
                    <td>{{orders.username}}</td>
                    <td>{{orders.date}}</td>
                    <td>
                        <!-- <table>
                            <thead>
                                <th>Fullname</th>
                                <th>Phoneno</th>
                                <th>Flat No</th>
                                <th>Colony</th>
                                <th>Landmark</th>
                                <th>City</th>
                                <th>Pincode</th>
                                <th>Payment</th>
                            </thead>
                            <tr>
                                <td>{{orders.address.fullname}}</td>
                                <td>{{orders.address.phoneno}}</td>
                                <td>{{orders.address.flat}}</td>
                                <td>{{orders.address.colony}}</td>
                                <td>{{orders.address.landmark}}</td>
                                <td>{{orders.address.city}}</td>
                                <td>{{orders.address.pincode}}</td>
                                <td>{{orders.address.payment}}</td>
                            </tr>
                        </table> -->
                        <table>
                            <td>
                                <tr>
                                    <th>Fullname</th>
                                    <td>{{orders.address.fullname}}</td>
                                </tr>
                                <tr>
                                    <th>Phone no</th>
                                    <td>{{orders.address.phoneno}}</td>
                                </tr>
                                <tr>
                                    <th>Flat</th>
                                    <td>{{orders.address.flat}}</td>
                                </tr>
                                <tr>
                                    <th>Colony</th>
                                    <td>{{orders.address.colony}}</td>
                                </tr>
                                <tr>
                                    <th>Landmark</th>
                                    <td>{{orders.address.landmark}}</td>
                                </tr>
                                <tr>
                                    <th>City</th>
                                    <td>{{orders.address.city}}</td>
                                </tr>
                                <tr>
                                    <th>Pincode</th>
                                    <td>{{orders.address.pincode}}</td>
                                </tr>
                                <tr>
                                    <th>Mode of payment</th>
                                    <td>{{orders.address.payment}}</td>
                                </tr>
                            </td>
                        </table>
                    </td>
                    <td>
                        <table>
                            <td *ngFor="let i of orders.cartdata">
                                <tr>
                                    <th>Productname</th>
                                    <td>{{i.name}}</td>
                                    
                                </tr>
                            <tr>
                                <th>Userquantity</th>
                                <td>{{i.userquantity}}</td>
                            </tr>
                            <tr>
                                <th>Price</th>
                                <td>{{i.price}}</td>
                            </tr>
                            <tr>
                                <th>Cartprice</th>
                                <td>{{i.cartprice}}</td>
                            </tr>
                            
                        </td>
                       
                        </table>
                        <h5 class="text-right text-success">Totalprice:{{orders.totalprice}}</h5>
                    </td>
                    
                </tr>
                
            </table>
            
            

        </div>

    </div>

</div>
