/* table {
    border: 3px solid;
  }
 td {
    padding: 10px;
    text-align: left;
    border: 1px solid;
  }
  tr:hover {background-color: #f5f5f5;}
  th {
    background-color: #4CAF50;
    color: white;
  } */
  table {
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
  }