<div class="container">
<div class="row">
    <h1>Select a shipping address</h1>
    <p>Is the address you'd like to use displayed below? If so, click the corresponding <b>"Deliver to this address"</b> button. Or you can add your new address</p>
    
    <div class="col-md-6">
        
        <div class="card-deck">
            <div *ngFor="let i of getaddress">  
<div class="card">
        <div class="card-body">
            <b>{{i.fullname}}</b><br/>
                {{i.flat}}<br/>
                {{i.colony}}<br/>
                {{i.landmark}}<br/>
                {{i.city}}<br/>
                {{i.pincode}}<br/>
            Phone No:{{i.phoneno}}
            <div>
                <button class="btn btn-warning" (click)="deliver(i)">Deliver to this address</button>
            </div>
            <div>
                <button class="btn btn-light"  style="margin:5px;" (click)="edit(i)">Edit</button>
                <button class="btn btn-light"   style="margin-left:20px;"(click)="remove(i)">Remove</button>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-md-6">
        <p id="a">add your address</p>
        <form  #ref="ngForm" (ngSubmit)="order(ref.value)">
        
            <div class="form-group">
                <input type="text" ngModel name="fullname" class="form-control" placeholder="Full name">
            </div>
            <div class="form-group">
                <input type="number" ngModel name="phoneno" class="form-control" required minlength="10" #ref2="ngModel" placeholder="10-digit mobile number without prefixes">
            </div>
            <div *ngIf="ref2.invalid&&(ref2.touched||ref2.dirty)">
                <div *ngIf="ref2.errors?.required">
                    phoneno is required
                </div>
                <div *ngIf="ref2.errors?.minlength" class="alert alert-danger">
                    phoneno should be 10 characters
                </div>
            </div>
                <div class="form-group">
                <input type="text" ngModel name="flat" class="form-control" placeholder="Flat/House No./Floor/Building" required #ref3="ngModel">
                <!-- <div *ngIf="ref3.invalid&&3.touched" class="alert alert-danger">
                    address required
                </div> -->
            </div>
            <div class="form-group">
                <input type="text" ngModel name="colony" class="form-control" placeholder="Colony/Street/Locality" required #ref4="ngModel">
                <!-- <div *ngIf="ref4.invalid&&3.touched" class="alert alert-danger">
                    street required
                </div> -->
            </div>
            <div class="form-group">
                <input type="text" ngModel name="landmark" class="form-control" placeholder="Landmark">
            </div>
            <div class="form-group">
                <input type="text" ngModel name="city" class="form-control" placeholder="City" required #ref5="ngModel">
                <!-- <div *ngIf="ref5.invalid&&3.touched" class="alert alert-danger">
                    address required
                </div> -->
            </div>
            <div class="form-group">
                <input type="text" ngModel name="pincode" class="form-control" placeholder="pincode">
            </div>
            <button class="btn btn-success form-control" type="submit">Add your address</button>
    </form> 
    </div>
</div>

    
       
     
<!-- <div class="row">      
 <div class="col-lg-12">    -->
    <!-- <p><a href="#new shipping form">Add new shipping address</a></p> -->
    <!-- <a id="new shipping form" id="a">add new address</a> -->
    <!-- <a href="#a"></a> -->
    


</div>
<!-- </div>
</div> -->

