<div>
<h5 class="text-right text-success">Welcome {{username}}</h5>
</div>
<div id="c">
    <button class="btn btn-success float-right"style="font-size:25px" (click)="cart()"><i class="material-icons" style="font-size:35px;">shopping_cart</i>Mybasket</button>
</div>
<div class="container-fluid">
    <div class="row">
            <div class="col-md-2">
                <nav class="navbar">
            <div class="dropdown" id="b">
                <button class="dropdown-toggle btn btn-success navbar-nav" id="b" data-toggle="dropdown">All Categories</button>
                <div class="dropdown-menu nav-item">
                    <div>
                        <a class="nav-link" (click)="sendveg()"class="dropdown-item">Vegetables</a>
                    </div>
                    <div>
                        <a class="nav-link" (click)="sendleafveggies()" class="dropdown-item">Leafy Veggies</a>
                    </div>
                    <div>
                        <a class="nav-link" (click)="sendfruits()" class="dropdown-item">Fruits</a>
                    </div>
                    
                </div>
            </div>
        </nav>
        </div>
        <div class="col-md-10">
            <div class="form-group">
                <label for="a"></label>
                <input type="text" id="a" class="form-control" name="search" placeholder="search here...." [(ngModel)]="searchterm">
            </div>
            <div *ngIf="productliststatus">
            <div class="card-deck">
                <div class="col-md-3" *ngFor="let i of productlist|searchproduct:searchterm">
                    <img class="card-img-top img-fluid rounded" [src]=i.url height="100" width="150">
                    <div class="card-body">
                        <h4 class="card-title">{{i.name}}</h4>
                <p class="card-text">{{i.price|currency:'INR'}}</p>
                    </div>
                    <div class="card-footer">
                    <button class="btn btn-warning" (click)="addtocart(i)">Add to Cart</button>
                    </div>
                </div>
                </div>
            </div>
            <div *ngIf="statusveg">
                <div class="card-deck">
                    <div class="col-md-3" *ngFor="let j of vegetables|searchproduct:searchterm">
                        <img class="card-img-top img-fluid rounded" [src]=j.url height="100" width="150">
                        <div class="card-body">
                            <h4 class="card-title">{{j.name}}</h4>
                    <p class="card-text">{{j.price|currency:'INR'}}</p>
                        </div>
                        <div class="card-footer">
                        <button class="btn btn-primary"(click)="addtocart(j)">Add to Cart</button>
                        </div>
                    </div>
                    </div>
                </div>
                <div *ngIf="statusleaf">
                    <div class="card-deck">
                        <div class="col-md-3" *ngFor="let k of leafyvegetables|searchproduct:searchterm">
                            <img class="card-img-top img-fluid rounded" [src]=k.url height="100" width="150">
                            <div class="card-body">
                                <h4 class="card-title">{{k.name}}</h4>
                        <p class="card-text">{{k.price|currency:'INR'}}</p>
                            </div>
                            <div class="card-footer">
                            <button class="btn btn-primary" (click)="addtocart(k)">Add to Cart</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div *ngIf="statusfruits">
                        <div class="card-deck">
                            <div class="col-md-3" *ngFor="let l of fruits|searchproduct:searchterm">
                                <img class="card-img-top img-fluid rounded" [src]=l.url height="100" width="150">
                                <div class="card-body">
                                    <h4 class="card-title">{{l.name}}</h4>
                            <p class="card-text">{{l.price|currency:'INR'}}</p>
                                </div>
                                <div class="card-footer">
                                <button class="btn btn-primary"(click)="addtocart(l)">Add to Cart</button>
                                </div>
                            </div>
                            </div>
                        </div>
                    
        </div> 
    </div>
   <div>
    
   </div> 

<router-outlet></router-outlet>
