<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 jumbotron">
            <form #ref="ngForm" (ngSubmit)="sendData(ref.value)">
                <!-- username -->
                <div class="form-group">
                    <label for="a">Username</label>
                    <input  id="a"type="text" placeholder="Enter Username" class="form-control" name="username" ngModel required #ref1="ngModel">
                </div>
                <!-- validation for username -->
                <div *ngIf="ref1.invalid&&ref1.touched" class="alert alert-danger">
                    <div *ngIf="ref1.errors?.required">
                        Username is required
                    </div>
                </div>
                <!-- password -->
                <div class="form-group">
                    <label for="b">Password</label>
                    <input  id="b"type="password" placeholder="Enter Password" class="form-control" name="password" ngModel required minlength="8" #ref2="ngModel">
                </div>
                <!-- validation for password -->
                <div *ngIf="ref2.invalid&&(ref2.dirty||ref2.touched)" class="alert alert-danger">
                    <div *ngIf="ref2.errors?.required">
                        password is required
                    </div>
                    <div *ngIf="ref2.errors?.minlength">
                        password must be of minimum 8 characters
                    </div>
                </div>
                <!-- confirm password -->
                <div class="form-group">
                    <label for="c">Confirm password</label>
                    <input  id="c"type="password" placeholder="Confirm your password" class="form-control" name="cpassword" ngModel required #ref3="ngModel">
                </div>
                <!-- validation for confirm password -->
                <div *ngIf="ref3.invalid&&ref3.touched" class="alert alert-danger">
                    confirm password field is required
                </div>
                <div class="form-group">
                    <label for="d">Mobile</label>
                    <input  id="d" type="number"placeholder="Moble Number" class="form-control" name="mobile" ngModel>
                </div>
                <div class="form-group">
                    <label for="e">Email</label>
                    <input  id="e"type="email" placeholder="Enter your email" class="form-control" name="email" ngModel>
                </div>
                <div>
                    <button type="submit" class="btn btn-success mx-auto float-right" [disabled]="ref.invalid">Register</button>
                </div>

            </form>

        </div>
        <div class="col-md-3"></div>
    </div>

</div>
